.font-line {
  font-size: 16px;
  line-height: 35px;
  text-align: center;
}
.inline-block {
  display: inline-block;
}
.article {
  background-color: #fff;
  width: 100%;
}
.article .art-box {
  padding: 2rem 2rem;
}
.article .art-box .art {
  margin-bottom: 1rem;
}
.article .art-box .art .art-title {
  margin-bottom: 6px;
}
.article .art-box .art .art-title h2 {
  font-size: 20px;
}
.article .art-box .art .art-key {
  margin-bottom: 6px;
  font-size: 14px;
}
.article .art-box .art .art-txt {
  font-size: 16px;
  color: #333333;
  line-height: 20px;
  margin-bottom: 6px;
}
.article .art-box .art .art-txt:hover {
  color: #242424;
}
.article .art-box .art .art-txt a {
  color: #44C7F4;
}
.article .art-box .art .art-txt a:hover {
  color: #00ADEE;
}
.article .art-box .art .art-txt .art-txt-all {
  color: #f24343;
}
.article .art-box .art .art-txt .art-txt-all:hover {
  color: #B1191A;
}
.article .art-box .art .art-vote {
  font-size: 14px;
  margin-bottom: 10px;
  color: #666666;
}
.article pre {
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
  padding-top: 0px;
  max-height: 400px;
  overflow: auto;
  word-break: keep-all;
  background-color: #F6F6F6;
  border-left: 4px solid #C4CDD4;
  line-height: 1.5em;
  font-family: "Helvetica Regular";
  tab-size: 4;
  /* ��������ȱʡ��ʽ (������) */
  /* �������Ļ��챳����ɫ */
  /* ������ɫ */
}
.article pre::-webkit-scrollbar {
  width: 10px;
}
.article pre::-webkit-scrollbar-track {
  background-color: #E7E7E7;
  box-shadow: 0px 0px 1px 1px #C4CDD4 inset;
  border-radius: 5px;
}
.article pre::-webkit-scrollbar-thumb {
  background-color: #FCFCFC;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px #C4CDD4 inset;
}
.article .into {
  margin: 16px auto;
  padding: 10px;
  max-width: 680px;
  width: 90%;
  background-color: #f5f2f0;
  border-radius: 6px;
}
.article .into .iframe {
  border: 0px;
  overflow: auto;
}
.tagiframe {
  height: 340px;
}
@media only screen and (max-width: 414px) {
  .tagiframe {
    height: 680px;
  }
}
