@font-face {
    font-family: 'hmc';
    src:    url('fonts/hmc.eot?kkqrlg');
    src:    url('fonts/hmc.eot?kkqrlg#iefix') format('embedded-opentype'),
    url('fonts/hmc.ttf?kkqrlg') format('truetype'),
    url('fonts/hmc.woff?kkqrlg') format('woff'),
    url('fonts/hmc.svg?kkqrlg#hmc') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],.icomoon, [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hmc' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-uniE607:before {
    content: "\e607";
}
.icon-uniE608:before {
    content: "\e608";
}
.icon-uniE609:before {
    content: "\e609";
}
.icon-uniE60A:before {
    content: "\e60a";
}
.icon-uniE60B:before {
    content: "\e60b";
}
.icon-uniE60C:before {
    content: "\e60c";
}
.icon-uniE6172:before {
    content: "\e618";
}
.icon-uniF0392:before {
    content: "\f03a";
}
.icon-uniF0872:before {
    content: "\f089";
}
.icon-uniF0882:before {
    content: "\f08a";
}
.icon-uniF001:before {
    content: "\f001";
}
.icon-uniF039:before {
    content: "\f039";
}
.icon-uniF04A:before {
    content: "\f04a";
}
.icon-uniF04B:before {
    content: "\f04b";
}
.icon-uniF04C:before {
    content: "\f04c";
}
.icon-uniF04E:before {
    content: "\f04e";
}
.icon-uniF087:before {
    content: "\f087";
}
.icon-uniF088:before {
    content: "\f088";
}
.icon-uniE601:before {
    content: "\e601";
}
.icon-uniE602:before {
    content: "\e602";
}
.icon-uniE603:before {
    content: "\e603";
}
.icon-uniE604:before {
    content: "\e604";
}
.icon-uniE605:before {
    content: "\e605";
}
.icon-uniE606:before {
    content: "\e606";
}
.icon-uniE617:before {
    content: "\e617";
}

