<link rel="stylesheet" href="/stylesheets/player.css"/>
<div id="player">
    <div id="playbtn" class="playbtn"><i class="icomoon i-music">&#xf001</i></div>
    <div id="playpanel" style="display: none">
    </div>
</div>
<script type="text/javascript" src="../javascripts/ui-play.js"></script>