<div class="reply mt10">
    <div class="rep-box">
        <div class="rep-header"><p>全部回复<span id="replys_n">(12)</span></p></div>
        <div id="replys">

        </div>
    </div>
    <div class="rep-add">
        <!--<div class="add-header"><a class="btn btn-blue fl" href="##">回复</a></div>-->
        <div style="display: ;" class="add-in">
            <div class="u-in u-text">
                <p><textarea maxlength="100" id="usertext" name="usertext"></textarea><span class="err" style="display: block"></span></p>
            </div>
            <div class="u-in u-name">
                <span class="spl fl">你的姓名：</span>
                <p class="spr fl"><input maxlength="10" type="text" id="username" name="username"/> </p>
                <div class="clear"></div>
            </div>
            <div class="u-in u-email">
                <p class="spl fl">你的邮箱：</p>
                <p class="spr fl"><input type="text" id="useremail" name="useremail"/> <span class="err"></span> </p>
                <div class="clear"></div>
            </div>
            <div class="u-sumit">
                <button id="usersumit" class="btn btn-blue">提交</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/javascripts/ui-reply.js"></script>
<script type="text/javascript" src="/javascripts/ui-base.js"></script>